/*basic reset */
* {
    margin: 0;
    padding: 0;
    list-style:none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #13293d;
    color:aliceblue;
}

nav {
    display: flex;
    background-color: rgb(126, 45, 63);
}

nav a {
    color:#13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: antiquewhite;
    padding: 80px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #13293d;
    color:aliceblue
}

.projects {
    flex: 4;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

