/*basic reset */
* {
    margin: 0;
    padding: 0;
    list-style:none;
}

body {
    display: flex;
}

img {
    width: 250px;
    flex: wrap;
}

div {
    flex: wrap;
}

#primary {
background-color: pink;
width: 100%;
border: 15px solid green;
border-width: 10px;
padding: 50px;
margin: 20px;
flex: wrap;
}

.secondary {
background-color: greenyellow;
width: 50%;
border: 15px solid green;
border-width: 10px;
padding: 50px;
margin: 20px;
flex: wrap;
}



footer {
    text-align: center;
    padding: 50px;
    flex: wrap;
}