/*basic reset */
* {
    margin: 0;
    padding: 0;
    list-style:none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #13293d;
    color:aliceblue;
}