/*basic reset */
* {
    margin: 0;
    padding: 0;
    list-style:none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: 40px;
    text-align: center;
    background-color: #13293d;
    color:aliceblue;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

nav {
    display: flex;
    background-color:#779f7c;
}

nav a {
    color:#13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color:al ;
    padding: 80px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #13293d;
    color:aliceblue
}
.details {
    padding: 5px;
}

.projects {
    flex: 4;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-card{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    flex: 0 0 400px;
    margin-top: 10px;
    margin-left: 10px;
}

.first-card header {
    padding: 20px;
}

.first-card p {
    text-align: center;
}

.first-card img {
    width: 90%;
    margin-left: 15 px;
}

.card{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    flex: 0 0 400px;
    margin-top: 10px;
    margin-left: 10px;
}

.card-header {
    padding: 20px;
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

a {
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#social {
    margin: 30px;
}

.coming-soon {
    border-radius: 0 0 10px 10px;
}

p {
    padding: 10px;
    text-align: left;
}